cff-version: 1.2.0
message: "If you use this virtual lab, please cite it as below."
authors:
- family-names: {{ vl_owner_surname }}
  given-names: {{ vl_owner_forename }}
  orcid: {{ vl_owner_orcid }}
title: {{ vl_name }}
version: 1.0.0
url: https://beta.naavre.net/vreapp/vl/{{ vl_abbreviation }}
