# {{vl_name}}
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-purple.json)](https://github.com/copier-org/copier)

{{vl_description}}

### Keywords
{% set keywords = vl_keywords.split(',') %}
{% for keyword in keywords %}
- {{ keyword.strip() }}
{% endfor %}